img {
  width: 100%;
  display: block;
}

.container {
  width: 35% !important;
}
h1 {
  font-size: 8vw;
  text-transform: uppercase;
}
h4 {
  text-align: center;
  background-color: #d3d3d3;
  padding: 35px 0px 13px 0px;
  margin: 0px;
  color: black;
  font-weight: bold;
  font-size: 2vw;
}

.navbar-brand {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Browse {
  padding: 10px 30px 10px 30px;
  background-color: #d3d3d3;
}
span {
  position: relative;
  bottom: 2vw;
  background-color: #2196f3;
  color: white;
  padding: 0.6vw;
  font-size: 1vw;
}
